---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="card">
  <div class="container">
    <h1>Bem-vindo!</h1>

    <p><img src="/img/galileuavatar.webp" style="float: right; padding-left: 20px;"> Greetings! My name is Christian Lemos, nice to meet ya!<br>
    I talk about anything that might interest me, which probably is related to computer science, 
    math, games and science, but you never know these days. This is my first time managing a
    personal website, and currently my mind is on the verge of a breakdown after
    having to deal with CSS.<br>
    <a href="/img/gman.webp">Prepare for unforeseen consequences.</a></p>
  </div>
</div>

<br>

<div class="card">
  <div class="container">
    {% set maxPosts = collections.posts.length | min(3) %}
    <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}

    <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
  </div>
</div>

